<div id="gate-forge-div" style="display:none">
    <div id="gate-forge-overlay" style="position:fixed; left: 0; top: 0; height: 100vh; width: 100vw; background: rgba(0, 0, 0, 0.5);">
    </div>
    <div style="position: absolute; top: 20px; left: 50px; padding: 20px; background-color: white; border: 1px solid black;">
        <strong>Create Gate</strong>
        <div style="margin: 10px 0 10px 10px;font-size:20px;">
            <input id='gate-forge-name' type="text" placeholder="[show matrix]" style="width:7em;font-size:20px;"> Gate Symbol<br/><br/>
        </div>

        <table>
            <tr>
                <th>From Rotation</th>
                <th></th>
                <th>From Matrix</th>
                <th></th>
                <th>From Circuit</th>
            </tr>
            <tr>
                <td>
                    <input id='gate-forge-rotation-axis' type="text" size="8" placeholder="X+Z"> Axis<br/>
                    <input id='gate-forge-rotation-angle' type="text" size="8" placeholder="45" style="margin:0.5em 0 0 0;">° Angle<br/>
                    <input id='gate-forge-rotation-phase' type="text" size="8" placeholder="0" style="margin:0.5em 0 0 0;">° Phase
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>OR</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>
                    <style scoped>
                        input[type="checkbox"]:not(:checked) + label {
                            font-weight: bold;
                            background-color: pink;
                        }
                    </style>

                    <textarea id="gate-forge-matrix" cols="20" rows="5" placeholder="1, i,  i, 1"></textarea><br/>

                    <input id="gate-forge-matrix-fix" type="checkbox" checked>
                    <label for="gate-forge-matrix-fix">ensure unitary</label>
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>OR</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>
                    From part of current circuit:<br/>
                    <input id="gate-forge-circuit-cols" type="text" size="2" placeholder="1:∞" style="margin:0.5em 0 0 0;"> column range<br/>
                    <input id="gate-forge-circuit-rows" type="text" size="2" placeholder="1:∞" style="margin:0.5em 0 0.5em 0;"> wire range<br/>
                    Required Inputs: <span id="gate-forge-circuit-inputs">(none)</span>
                </td>
            </tr>
            <tr>
                <td>
                    <canvas id="gate-forge-rotation-canvas" style="padding:5px;border:1px black solid;width:175px;height:100px;margin:10px 0 0 0;"></canvas>
                </td>
                <td></td>
                <td>
                    <canvas id="gate-forge-matrix-canvas" style="padding:5px;border:1px black solid;width:175px;height:100px;margin:10px 0 0 0;"></canvas>
                </td>
                <td></td>
                <td>
                    <canvas id="gate-forge-circuit-canvas" style="padding:5px;border:1px black solid;width:225px;height:100px;margin:10px 0 0 0;"></canvas>
                </td>
            </tr>
            <tr>
                <td>
                    <button id="gate-forge-rotation-button" style="width:100%;height:30px;">Create Rotation Gate</button>
                </td>
                <td></td>
                <td>
                    <button id="gate-forge-matrix-button" style="width:100%;height:30px;">Create Matrix Gate</button>
                </td>
                <td></td>
                <td>
                    <button id="gate-forge-circuit-button" style="width:100%;height:30px;">Create Circuit Gate</button>
                </td>
            </tr>
        </table>
    </div>
</div>
