        </script>

        <style scoped>
            @keyframes delay-showing-before-hide-script-can-run-but-then-jump-in {
                from { opacity: 0; }
                95% { opacity: 0; }
                to { opacity: 1; }
            }
            @-webkit-keyframes delay-showing-before-hide-script-can-run-but-then-jump-in {
                from { opacity: 0; }
                95% { opacity: 0; }
                to { opacity: 1; }
            }
            @-moz-keyframes delay-showing-before-hide-script-can-run-but-then-jump-in {
                from { opacity: 0; }
                95% { opacity: 0; }
                to { opacity: 1; }
            }
            @-o-keyframes delay-showing-before-hide-script-can-run-but-then-jump-in {
                from { opacity: 0; }
                95% { opacity: 0; }
                to { opacity: 1; }
            }
        </style>
        <div id="noscript-div" class="noscript-warning" style="
                        animation-duration: 2.0s;
                   -moz-animation-duration: 2.0s;
                -webkit-animation-duration: 2.0s;
                     -o-animation-duration: 2.0s;
                        animation-name: delay-showing-before-hide-script-can-run-but-then-jump-in;
                   -moz-animation-name: delay-showing-before-hide-script-can-run-but-then-jump-in;
                -webkit-animation-name: delay-showing-before-hide-script-can-run-but-then-jump-in;
                     -o-animation-name: delay-showing-before-hide-script-can-run-but-then-jump-in;">
            You appear to have JavaScript blocked. But Quirk is made out of JavaScript... :(
        </div>
        <script>
            document.getElementById('noscript-div').style.display = 'none';
        </script>
    </body>
</html>
