sudo: false
language: node_js
node_js: 5.1
install: npm install
branches:
  only: master
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
script: npm run test-travis
addons:
  firefox: "latest"
